/* Colors from: http://www.colourlovers.com/palette/3658630/Possible_wedding */
$orange        : #FF8533;
$yellow        : #FFE066;
$darkBlue      : #00008B;
$green         : #00CE77;
$veryLightGrey : #EEEEEE;
$lightGrey     : #DDDDDD;
$medGrey       : #AAAAAA;
$darkGrey      : #888888;
$white         : #FFFFFF;


$copy-font : 'Merriweather', serif;
$heading-font         : 'Lato', sans-serif;
